<div>
  <form action={{action}} method="post">
    <input class="shortener__url-input" name="email" type="text" placeholder="enter your email" value={{email}}>
    <input class="shortener__url-input" name="password" type="password" placeholder="enter your password" value={{password}}>
    {{#if error}}
    <p class="shortener__error">{{error}}</p>
    {{/if}}
    <input type="submit" class="shortener__url-button" value={{button}}>
    <input type="button" class="shortener__url-button" id='home' value="Home">
  </form>
</div>
<script nonce={{scriptN}}>
  document.getElementById("home").addEventListener("click", () => window.location.href = '/welcome')
</script>